<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @item.errors_messages_for :buylink => "No puede estar en blanco", :image => "Necesita tener una imágen" %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title, "Nombre" %><br />
    <%= f.text_field :title %>
  </div>
   <div class="field">
    <%= f.label :brand, "Marca/Diseñador" %><br />
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :buylink, "Link hacia la tienda" %><br/>
    <%= f.text_field :buylink %>
  </div>
  <%= f.file_field :image %>
      <%= f.label :remote_image_url, "o link a la imagen" %>
    <%= f.text_field :remote_image_url %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>