  <div class="intro">
    <div class="quote">
      <h1>Descubre y conéctate
con diseñadores emergentes</h1>
      <h2>Solo en México</h2>
    </div>
  </div>
<div class="container content">
<% @items.each do |item| %>
  <div class="item">
    <div class="mask"></div>
    <%= image_tag item.image_url.to_s %>
    <div class="info">
      <h3><%= item.title %></h3>
      <i>por:</i><h4><%= item.brand %></h4>
    </div>
    <a href="http://<%= item.buylink %>" target="_blank" class="comprar">Comprar</a>
      <% if user_signed_in? && !current_user.voted_on?(item) %>
        <%= link_to 'I love it',  votes_path(id: item.id), method: :post , :class => "odd", :id => "lovebutton_#{item.id}", remote: true %>
      <% end %>
       <% if user_signed_in? && current_user.voted_on?(item) %>
         <a href="" class="odd voted">Loved</a>
      <% end %>
      <% unless user_signed_in? %>
         <%= link_to 'I love it',  new_authentication_session_path, :class => "odd" %>
      <% end %>
      <span class="counter"><%= item.votes_for %></span>
      <div class="edit">
      <%= link_to 'Show', item %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    </div>
<% end %>
</div>