<div class="container">
<% @items.each do |item| %>
    <%= image_tag item.image_url.to_s %>
    <h3><%= item.title %></h3>
    <h4><%= item.brand %></h4>

    <%= item.buylink %>
   
    <div class="edit">
      <%= link_to 'Show', item %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.buylink %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   <% if user_signed_in? && !current_user.voted_on?(item) %>
      <%= link_to 'Odd',  votes_path(id: item.id), method: :post %>
    <% else %>
      <b> Voted </b>
    <% end %>
<% end %>

<br />

<%= link_to 'New Item', new_item_path %>
</div>
