<!DOCTYPE html>
<html>
<head>
  <title>Odd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<nav class="main_menu">
	<div class="container">
		<h3 class="logo">The Odd</h3>
		<div class="links_menu">
			<% if user_signed_in? %>
					<%= link_to 'Nuevo Item', new_item_path %>
					<%= image_tag current_user.image_version %>
					<%= link_to "Salir", destroy_authentication_session_path, method: :delete %>
				<% else %>
					<%= link_to "Entrar", new_authentication_session_path %>
			<% end %>
		</div>
	</div>
<%= yield %>

</body>
</html>
