<!DOCTYPE html>
<html>
<head>
  <title>Odd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
		<% if user_signed_in? %>
				<%= link_to 'Nuevo Hunt', new_item_path %>
				<%= image_tag current_user.image_version %>
				<%= link_to "Salir", destroy_authentication_session_path, method: :delete %>
			<% else %>
				<%= link_to "Entrar", new_authentication_session_path %>
		<% end %>
</nav>
<%= yield %>

</body>
</html>
